@page "/"
@namespace YuGet.Ui.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YuGet</title>
    <base href="~/" />
    <link rel="stylesheet" href="_content/YuGet.Ui/css/bootstrap/bootstrap.min.css" />
    <link href="_content/YuGet.Ui/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="YuGet.styles.css" />
</head>
<body>
	<component type="typeof(App)" render-mode="ServerPrerendered" />
	<script src="_framework/blazor.server.js"></script>
</body>
</html>
