<div class="container">
	<div class="row">
		<div class="col-md-3">
			image	
		</div>
		<div>
			<div class="col-md-9 row-gap">
				<div class="row">
					<div class="col-md-12 footer-release-info">
						<p>
							© Microsoft 2021 -

							<a href="/policies/About">About</a> -
							<a href="/policies/Terms">Terms of Use</a> -
							<a href="https://go.microsoft.com/fwlink/?LinkId=521839" id="footer-privacy-policy-link">Privacy Policy</a>
							- <a href="https://www.microsoft.com/trademarks">Trademarks</a>
							<br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>