<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="navbar-header">
				<a href="/">
					<img class="navbar-logo" width="94" height="29" alt="NuGet home" src="/Content/gallery/img/logo-header.svg" onerror="this.src='https://www.nuget.org/Content/gallery/img/logo-header-94x29.png'; this.onerror = null;">
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav" role="tablist">
					<li class="active" role="presentation">
						<NavLink role="tab" href="/packages" Match="NavLinkMatch.All">
							<span>Packages</span>
						</NavLink>
					</li>

					<li class="" role="presentation">
						<a role="tab" aria-selected="false" href="/packages/manage/upload">
							<span>Upload</span>
						</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" role="tablist">
					<li class="" role="presentation">
						<a role="tab" aria-selected="false" href="/users/account/LogOn?returnUrl=%2Fpackages" title="Sign in to an existing NuGet.org account">
							<span>Sign in</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
@code {

}
