.navbar-nav {
	flex-direction: unset !important;
}

	.navbar-nav > li {
		float: left;
		display: block;
	}

.navbar-collapse.collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}
