.main {
    flex: 1;
}

.navbar-inverse {
    /*background-color: #f7f7f7;*/
    /*border-bottom: 1px solid #d6d5d5;*/
    height: 3.5rem;
    align-items: center;
    background-color: #004880;
    border-color: #002b4d;
}
