@inherits LayoutComponentBase

<MatAnchorUtils></MatAnchorUtils>

<MatAppBarContainer>
    <MatAppBar Class="navbar">
        <MatAppBarRow>
            <MatAppBarSection Align="@MatAppBarSectionAlign.Start" Style="justify-content: flex-end">
                <NavLink href="/">
                    <img width="94" height="29" alt="NuGet home" src="/_content/YuGet.Ui/img/logo-header.png">
                </NavLink>
            </MatAppBarSection>
            <MatAppBarSection Style="width: 600px">
               <NavMenu />
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End"  Style="justify-content: flex-start">
                <NavLink herf="">Sign In</NavLink>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatAppBarContent>

        <CascadingValue Value="layoutService" Name="layoutService">
            @if (layoutService.SearchBarVisible)
            {
                <SearchBar />
            }
            <section class="main">
                @Body
            </section>
        </CascadingValue>
    </MatAppBarContent>
</MatAppBarContainer>


@code{
    private LayoutStatusService layoutService;

    protected override void OnInitialized()
    {
        layoutService = new LayoutStatusService(StateHasChanged);

        base.OnInitialized();
    }

}