
<ul class="nav flex-row">
    <li class="nav-item">
        <NavLink class="nav-link" href="Packages"> Packages </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Upload"> Upload </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Statistics"> Statistics </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Documentation"> Documentation </NavLink>
    </li>
</ul>