.btn-search {
	color: #fff;
	background-color: #d87e00;
	border-color: #bf6f00;
	z-index: unset;
}
	.btn-search:hover {
		color: #fff;
		background-color: #A56000;
		border-color: #A56000;
	}

	.btn-search i:after {
		width: 20px;
		height: 20px;
		display: block;
		content: url("/_content/YuGet.Ui/icons/search.svg");
	}