@inherits LayoutComponentBase
<header class="p-2 navbar">
    <div class="container">
        <div class="row flex-grow-1">
            <div class="col-2 d-flex flex-row flex-grow-1 justify-content-end align-items-center">
                <a href="/" style="height: 32px; padding: 1px 0;">
                    <img width="94" height="29" alt="NuGet home" src="/_content/YuGet.UI/img/logo-header.png">
                </a>
            </div>
          
            <div class="col-8 d-flex flex-grow-1 align-items-center">
                 <NavMenu />
            </div>
           
            <div class="col-2 d-flex flex-grow-1 align-items-center">
                 <Profile />
            </div>
        </div>
    </div>
</header>
<CascadingValue Value="layoutService" Name="layoutService">

    @if (layoutService.SearchBarVisible)
    {
        <SearchBar />
    }
    <section class="main">
    @Body
    </section>
 </CascadingValue>

@code {
    private LayoutStatusService layoutService;

    protected override void OnInitialized()
    {
        layoutService = new LayoutStatusService(StateHasChanged);

        base.OnInitialized();
    }

}