.mat-layout-grid-inner {
	grid-column-gap: 30px;
}

.package-list {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 0;
	line-height: 20px;
	color: #666;
}
	.package-list li {
		list-style: none;
		display: inline-block;
		line-height: 20px;
		max-height: 101px;
		overflow-y: hidden;
		padding-right: 10px;
	}

.package {
	font-size: 15px;
}

.package .package-details {
	margin-top: 8px;
	color: #000;
	line-height: 20px;
}

.package-title {
	font-size: 24px;
	font-weight: 300;
	line-height: .9;
}